@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary1: #f74d56;
  --primary2: #df2873;
  --gray400: #44566c;
  --gray500: #7b7b7b;
  --gray100: #f8fbfb;
  --gray600: #0f172a;
  --boxbg1: #fff4f4;
  --boxBg2: #fefaf0;
  --boxbg3: #fff0f8;
  --coloricon1: #d566fe;
  --coloricon2: #8774ff;
  --coloricon3: #ff75d8;
  --fontprimary: "Poppins";
  --boxsize: 20px;
}


